* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 30px; }

.wrap {
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column; }

header {
  width: 100%;
  height: 120px;
  background: yellow;
  display: flex;
  line-height: 120px;
  display: flex; }
  header span {
    width: 50%;
    text-align: center; }
  header .active {
    background: #000;
    color: white;
    display: block; }

section {
  width: 100%;
  flex: 1;
  background: white;
  overflow: hidden;
  overflow-y: scroll; }
  section .ipt {
    width: 100%;
    height: 120px;
    background: yellow; }
    section .ipt input {
      width: 98%;
      height: 100px;
      margin: 10px;
      font-size: 36px;
      border: 0;
      border-bottom: 2px solid #000;
      background: yellow;
      outline: none;
      text-align: center; }
  section .contentOut {
    width: 100%;
    height: auto; }
    section .contentOut .picBox {
      display: flex;
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      text-align: center; }
      section .contentOut .picBox dl {
        width: 20%;
        margin: 15px;
        text-align: center;
        font-size: 36px;
        background: #f2f1fe;
        padding: 30px; }
        section .contentOut .picBox dl dt {
          font-size: 60px; }
        section .contentOut .picBox dl dd {
          font-size: 30px;
          margin-top: 20px; }
      section .contentOut .picBox .activeType {
        color: yellow; }
      section .contentOut .picBox .addIcon {
        background: #f2f2f2;
        font-size: 34px; }
  section .contentIn {
    width: 100%;
    height: auto;
    display: none; }
    section .contentIn .picBox {
      display: flex;
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      text-align: center; }
      section .contentIn .picBox dl {
        width: 20%;
        margin: 15px;
        text-align: center;
        font-size: 36px;
        background: #f2f1fe;
        padding: 30px; }
        section .contentIn .picBox dl dt {
          font-size: 60px; }
        section .contentIn .picBox dl dd {
          font-size: 30px;
          margin-top: 20px; }
      section .contentIn .picBox .activeType {
        color: yellow; }
      section .contentIn .picBox .addIcon {
        background: #f2f2f2;
        font-size: 34px; }

footer {
  width: 100%;
  height: 400px; }
  footer .keyBoad {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap; }
    footer .keyBoad span {
      width: 19%;
      height: 100px;
      text-align: center;
      line-height: 100px;
      font-size: 36px;
      border: 1px solid #000;
      margin: 1px 3px;
      box-shadow: 1px 1px 1px #ccc; }
    footer .keyBoad .sure {
      width: 19%;
      height: 100px;
      font-size: 36px; }
