* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

.mui-bar-nav {
  width: 100%;
  height: 120px;
  background: #ffe344; }
  .mui-bar-nav .head_top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 14px; }
    .mui-bar-nav .head_top b {
      font-weight: normal; }
    .mui-bar-nav .head_top .time span {
      border: 1px solid #000;
      border-radius: 8px;
      padding: 3px 5px; }
  .mui-bar-nav h2 {
    font-size: 18px; }
  .mui-bar-nav .head_bot {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-size: 14px; }
    .mui-bar-nav .head_bot b {
      font-weight: normal; }

.mui-content {
  margin-top: 80px; }

.mui-off-canvas-left {
  background: white; }

.slideTop {
  width: 100%;
  height: 120px; }
  .slideTop h2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 15px;
    box-sizing: border-box; }
  .slideTop p {
    width: 100%;
    height: 80px; }
    .slideTop p span {
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 15px;
      padding: 5px;
      margin: 3px; }

.slideType {
  width: 100%;
  height: 180px; }
  .slideType h2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 15px;
    box-sizing: border-box; }
  .slideType p {
    width: 100%;
    height: 140px; }
    .slideType p span {
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 15px;
      padding: 2px 5px;
      margin: 3px; }

.slideFriend {
  width: 100%;
  height: 90px; }
  .slideFriend h2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding: 0 15px;
    box-sizing: border-box; }
  .slideFriend p {
    width: 100%;
    height: 50px; }
    .slideFriend p span {
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 15px;
      padding: 5px;
      margin: 3px; }

.tab {
  width: 100%;
  height: 45px;
  background: palegoldenrod;
  line-height: 45px;
  display: flex; }
  .tab li {
    width: 50%;
    height: 45px;
    text-align: center; }
  .tab .active {
    background: pink;
    color: red; }

.conTwo {
  display: none; }

.mui-slider-handle {
  display: flex;
  justify-content: space-between; }
